<!DOCTYPE html>
<html lang="en">
<head>

    <%- include parts/defaultHead.ejs %>

</head>
<body>

<%- include parts/defaultNavbar.ejs %>
<div class="container" id="mainContainer">
    <div class="row">
        <div class="col-xs-12">
            <h1>hUYAX <span id="vkChar">В</span> Контакте</h1>
            <hr>
        </div>

        <div class="col-xs-12 col-sm-8">

            <p class="lead">Лучший способ автоматизации работы в социальной сети вконтакте и управления множеством
                контактов</p>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="well well-sm index">
                <div class="row nomargin">
                    <div class="col-xs-1"><h1><i class="fa fa-check-square-o info"></i></h1></div>
                    <div class="col-xs-11"><h3><a href="#" class="noDecor">Чекер</a></h3>
                        <span style="font-size: 1.2em">Проверка на валидность HTTP(S) прокси серверов, аккаунтов Вконтакте</span>
                    </div>
                </div>
            </div>
            <div class="well well-sm index">
                <div class="row nomargin">
                    <div class="col-xs-1"><h1><i class="fa fa-check-square-o info"></i></h1></div>
                    <div class="col-xs-11"><h3><a href="#" class="noDecor">Гибкий парсер</a></h3>
                        <span style="font-size: 1.2em">Поиск друзей, групп и составление других списков по гибким, настраиваемым параметрам</span>
                    </div>
                </div>
            </div>
            <div class="well well-sm index">
                <div class="row nomargin">
                    <div class="col-xs-1"><h1><i class="fa fa-check-square-o info"></i></h1></div>
                    <div class="col-xs-11"><h3><a href="#" class="noDecor">Мультиаккаунт</a></h3>
                        <span style="font-size: 1.2em">Работа сразу с нескольких аккаунтов одновременно</span>
                    </div>
                </div>
            </div>
            <div class="well well-sm index">
                <div class="row nomargin">
                    <div class="col-xs-1"><h1><i class="fa fa-check-square-o info"></i></h1></div>
                    <div class="col-xs-11"><h3><a href="#" class="noDecor">Работа по расписанию</a></h3>
                        <span style="font-size: 1.2em">Удобный и гибкий планировщик заданий</span>
                    </div>
                </div>
            </div>
            <div class="well well-sm index">
                <div class="row nomargin">
                    <div class="col-xs-1"><h1><i class="fa fa-check-square-o info"></i></h1></div>
                    <div class="col-xs-11"><h3><a href="#" class="noDecor">Управление группами</a></h3>
                        <span style="font-size: 1.2em">Граббер контента, управление подписчиками и многое другое</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="margin-bottom text-center">
                <a href="/register" class="btn btn-primary btn-lg" style="min-width: 300px;text-transform: uppercase">Регистрация</a>
            </div>
        </div>
    </div>
</div>

<script src="javascripts/libs.js"></script>




</body>
</html>