<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>


<form name="upload" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Загрузить">
</form>

<div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <textarea type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"></textarea>
            </div>

            <div class="thumbnail">
                <img id="blah" src="#" alt="your image" style="width: 75px; height: 75px"/>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-plus"> Dobavit'</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Fotografiyu</a></li>
                    <li><a href="#">Audiozapis'</a></li>
                    <li><a href="#">Videozapis'</a></li>
                </ul>
            </div>

            <button class="btn btn-default  pull-right" onclick="$(this).next().click()"><span
                        class="glyphicon glyphicon-download-alt"> Zagruzit'</span></button>
            <input type="file" id="imgInp" class="hidden" multiple>
        </div>
    </div>
</div>

</div>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<script>
    $(function () {
        function readURL(input, width, height) {
            var _URL = window.URL || window.webkitURL;
            var file, img;
            var thumbnail = $('.thumbnail').empty();

            for (var i = 0; i < input.files.length; i++) {

                var file = input.files[i];
                if (file) {
                    img = new Image();
                    img.file = file;
                    img.onload = function () {
                        var width = 100;
                        var height = 100;

                        if (this.width > this.height) {
                            width = width * (this.width / this.height);
                        } else {
                            height = height * (this.height / this.width);
                        }
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            var img = $('<div class="float-left" style="display: inline-block"><img id="blah" src="#" alt="your image" class="img-thumbnail"/></div>').find('img').css({
                                width: width,
                                height: height
                            }).attr('src', e.target.result);
                            img.parent().appendTo(thumbnail)
                        }
                        reader.readAsDataURL(this.file);

                    };
                    img.src = _URL.createObjectURL(file);
                }


            }

         /*   if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                    $('#blah').css({
                        width: width,
                        height: height
                    });
                }

                reader.readAsDataURL(input.files[0]);
            }*/
        }

        $("#imgInp").change(function () {

            /*var _URL = window.URL || window.webkitURL;
            var file, img;
            var that = this;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    var width = this.width;
                    var height = this.height;
                    width = 100;
                    height = 100

                    if (this.width > this.height) {
                        width = width * (this.width / this.height);
                    } else {
                        height = height * (this.height / this.width);
                    }


                };
                img.src = _URL.createObjectURL(file);
            }*/
            readURL(this);
        });

        function upload(file) {

            var xhr = new XMLHttpRequest();

            // обработчик для закачки
            xhr.upload.onprogress = function (event) {
                console.log(event.loaded + ' / ' + event.total);

                $('.progress-bar').css('width', (event.loaded / event.total) * 100 + '%').attr('aria-valuenow', (event.loaded / event.total) * 100);
            }

            // обработчики успеха и ошибки
            // если status == 200, то это успех, иначе ошибка
            xhr.onload = xhr.onerror = function () {
                if (this.status == 200) {
                    console.log("success");
                } else {
                    console.log("error " + this.status);
                }
            };

            xhr.open("POST", "upload", true);
            xhr.send(file);

        }

        /*document.forms.upload.onsubmit = function () {
         var input = this.elements.file;
         var file = input.files[0];
         if (file) {
         upload(file);
         }
         return false;
         }*/
    });

</script>

</body>
</html>