<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./parts/cabinetHead.ejs %>
</head>
<body>


<!--<form name="upload" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Загрузить">
</form>

<div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>-->


<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <textarea class="form-control" id="inputHolder">111</textarea>
            <textarea class="form-control" id="outputHolder"></textarea>
            <button class="btn btn-default" id="gen">gen</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <textarea type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"></textarea>
            </div>

            <div class="thumbnail">
                <img id="blah" src="#" alt="your image" style="width: 75px; height: 75px"/>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-plus"> Dobavit'</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Fotografiyu</a></li>
                    <li><a href="#">Audiozapis'</a></li>
                    <li><a href="#">Videozapis'</a></li>
                </ul>
            </div>
            <button class="btn btn-default  pull-left" onclick="$(this).closest('.row').find('form').submit()">
                Otpravit'
            </button>
            <button class="btn btn-default  pull-right" onclick="$(this).next().find('[type=file]').click()"><span
                        class="glyphicon glyphicon-download-alt"> Zagruzit'</span></button>
            <form name="upload" action="/upload" method="post" enctype="multipart/form-data" class="hidden">
                <input type="file" id="imgInp" name="file" class="hidden" multiple>
                <input type="text" name="custom" class="hidden">
                <!-- <input type="submit" value="Загрузить">-->
            </form>
            <!-- <input type="file" id="imgInp" class="hidden" multiple>-->
        </div>
    </div>
</div>

</div>


<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"-->
<!--integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"-->
<!--crossorigin="anonymous"></script>-->

<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

<%- include ./templates/other/accountHolder.ejs %>

<script>
    $(function () {

        var files = [];

        $(document).on('click', '.remove-icon', function () {
            var $this = $(this);
            var preview = $this.closest('.preview-holder');
            var elemId = preview.attr('id');
            var founded = files.find(function (item, i) {
                return item.id === elemId;
            });
            files.splice(files.indexOf(founded), 1);
            preview.remove();
            console.log(files);
        })

        function readURL(input, width, height) {

            files.length = 0;

            var _URL = window.URL || window.webkitURL;
            var file, img;
            var thumbnail = $('.thumbnail').empty();


            $('form').find('[type=text]').remove();

            for (var i = 0; i < input.files.length; i++) {

                var file = input.files[i];


                if (file) {
                    img = new Image();
                    img.file = file;
                    img.onload = function () {
                        var width = 100;
                        var height = 100;

                        if (this.width > this.height) {
                            width = width * (this.width / this.height);
                        } else {
                            height = height * (this.height / this.width);
                        }
                        this.width = width;
                        this.height = height;
                        this.className = 'img-thumbnail';

                        var uid = this.src.slice(-12);

                        var div = $('<div class="preview-holder float-left" id="' + uid + '">' +
                                '<div class="progress" >' +
                                '<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">' +
                                '<span class="sr-only">0% Complete</span>' +
                                '</div></div>' +
                                '<div class="remove-icon" >' +
                                '<span class="glyphicon glyphicon-remove"></span></div>' +
                                '</div>');
                        $(this).prependTo(div);
                        div.appendTo(thumbnail);
                        //    $('form').append('<input type="text" name="ids" value="' + uid + '" class="hidden"/>');

                        files.push({
                            file: this.file,
                            id: uid
                        });
                    };
                    img.src = _URL.createObjectURL(file);
                }


            }

        }

        $("#imgInp").change(function () {

            readURL(this);
        });


        $('form').on('submit', function (e) {
            e.preventDefault();

            var fd = new FormData();

            files.forEach(function (item, k) {
                fd.append('file', item.file);
                fd.append('ids', item.id);
            })

            $.ajax({
                type: "POST",
                url: "/upload",
                // contentType: attr("enctype", "multipart/form-data"),
                data: fd,//new FormData(this),
                processData: false,
                //  contentType: "multipart/form-data",
                contentType: false,
                cache: false
            }).done(function (result) {
                // if (result == "") self.submit();
                console.log('done');
            }).fail(function () {
                alert('error');
                console.log('error');
            });
        })

        function getRandomNumber(from, to) {
            return Math.floor(Math.random() * (to - from + 1)) + from;
        }

        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex;
            while (0 !== currentIndex) {
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }
            return array;
        }

        function getClosestScopeIndex(part, from, scope, antiscope) {
            var k = 0;
            for (var i = from; i < part.length; i++) {
                if (part[i] === scope) {
                    k++;
                } else if (part[i] === antiscope) {
                    if (k)
                        k--;
                    else
                        return i;
                }
            }
            return i;
        }

        function processPart(part) {

            var output='';
            var inner = '';
            var t = -1;
            var variants = null;

            for (var i = 0; i < part.length; i++) {
                if (part[i] === '\\') {
                    i += 1;
                    output += part[i];
                } else if (part[i] === '{' ||
                        part[i] === '[') {

                    var inScope = part[i];
                    var outScope = (inScope === '{' ? '}' : ']');
                    i++;
                    t = getClosestScopeIndex(part, i, inScope, outScope);
                    if (t > -1) {
                        inner = processPart(part.substring(i, t));
                        variants = inner.split('|');
                        variants = variants.map(function (item) {
                            return $.trim(item);
                        });
                        var k = getRandomNumber(0, variants.length - 1);

                        if (inScope === '[') {
                            var separator = '';
                            var index = variants[0].indexOf('+');
                            if (index > -1) {
                                index++;
                                separator = variants[0].substring(index, variants[0].indexOf('+', index));
                            }
                            variants[0] = $.trim(variants[0].replace('+' + separator + '+', ''));
                            variants = shuffle(variants);
                            output += variants.join((separator || ' '));
                        } else {
                            output += variants[k];
                        }
                        i = t++;
                    }
                } else {
                    output += part[i];
                }
            }

            return output;
        }

        $('#gen').on('click', function () {
            var input = $('#inputHolder').val();
            $('#outputHolder').val(processPart(input));
        })
    });

</script>

</body>
</html>