<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>


<!--<form name="upload" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Загрузить">
</form>

<div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>-->


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <textarea type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"></textarea>
            </div>

            <div class="thumbnail">
                <img id="blah" src="#" alt="your image" style="width: 75px; height: 75px"/>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-plus"> Dobavit'</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Fotografiyu</a></li>
                    <li><a href="#">Audiozapis'</a></li>
                    <li><a href="#">Videozapis'</a></li>
                </ul>
            </div>
            <button class="btn btn-default  pull-left" onclick="$(this).closest('.row').find('form').submit()">
                Otpravit'
            </button>
            <button class="btn btn-default  pull-right" onclick="$(this).next().find('[type=file]').click()"><span
                        class="glyphicon glyphicon-download-alt"> Zagruzit'</span></button>
            <form name="upload" action="/upload" method="post" enctype="multipart/form-data" class="hidden">
                <input type="file" id="imgInp" name="file" class="hidden" multiple>
                <input type="text" name="custom" class="hidden">
                <!-- <input type="submit" value="Загрузить">-->
            </form>
            <!-- <input type="file" id="imgInp" class="hidden" multiple>-->
        </div>
    </div>
</div>

</div>


<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"-->
<!--integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"-->
<!--crossorigin="anonymous"></script>-->

<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

<%- include ./templates/other/accountHolder.ejs %>

<script>
    $(function () {
        function readURL(input, width, height) {
            var _URL = window.URL || window.webkitURL;
            var file, img;
            var thumbnail = $('.thumbnail').empty();
            $('form').find('[type=text]').remove();

            for (var i = 0; i < input.files.length; i++) {

                var file = input.files[i];
                if (file) {
                    img = new Image();
                    img.onload = function () {
                        var width = 100;
                        var height = 100;

                        if (this.width > this.height) {
                            width = width * (this.width / this.height);
                        } else {
                            height = height * (this.height / this.width);
                        }
                        this.width = width;
                        this.height = height;
                        this.className = 'img-thumbnail';

                        var uid = this.src.slice(-12);

                        var div = $('<div class="float-left" style="display: inline-block"><div class="progress" id="' + uid + '">' +
                                '<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">' +
                                '<span class="sr-only">0% Complete</span></div></div></div>');
                        $(this).prependTo(div);
                        div.appendTo(thumbnail);
                        $('form').append('<input type="text" name="ids" value="' + uid + '" class="hidden"/>');

                    };
                    img.src = _URL.createObjectURL(file);
                }


            }

        }

        $("#imgInp").change(function () {

            readURL(this);
        });

        /* function upload(file) {

         var xhr = new XMLHttpRequest();

         // обработчик для закачки
         xhr.upload.onprogress = function (event) {
         console.log(event.loaded + ' / ' + event.total);

         $('.progress-bar').css('width', (event.loaded / event.total) * 100 + '%').attr('aria-valuenow', (event.loaded / event.total) * 100);
         }

         // обработчики успеха и ошибки
         // если status == 200, то это успех, иначе ошибка
         xhr.onload = xhr.onerror = function () {
         if (this.status == 200) {
         console.log("success");
         } else {
         console.log("error " + this.status);
         }
         };

         xhr.open("POST", "upload", true);
         xhr.send(file);

         }*/

        /*document.forms.upload.onsubmit = function () {
         var input = this.elements.file;
         var file = input.files[0];
         if (file) {
         upload(file);
         }
         return false;
         }*/

        $('form').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/upload",
                // contentType: attr("enctype", "multipart/form-data"),
                data: new FormData(this),
                processData: false,
                //  contentType: "multipart/form-data",
                contentType: false,
                cache: false
            }).done(function (result) {
                // if (result == "") self.submit();
                console.log('done');
            }).fail(function () {
                alert('error');
                console.log('error');
            });
        })
    });

</script>

</body>
</html>