<table data-toggle="bootgrid"
       data-ajax="true"
       data-url="list"
       data-list-type="account"
       data-selection="true"
       data-row-select="true"
       data-multi-select="false"
       class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th  data-column-id="_id"
             data-visible="false"
             data-identifier="true"
             data-type="string"
             data-visible-in-selection="false">ID</th>

        <th data-column-id="created"
            data-order="1"
            data-visible="false"
            data-visible-in-selection="false">Created</th>

        <th  data-column-id="content"
             data-editable="true">Прокси</th>

        <th data-column-id="valid"
            data-formatter="status"
            data-sortable="true"
            data-width="200px">Статус</th>

        <th data-formatter="commandsAll"
            data-sortable="false"
            data-width="100px"
            data-visible-in-selection="false"></th>
    </tr>
    </thead>
</table>