<div class="modal fade" id="modalInput">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Выбрать</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert"></div>
                <div class="form-group ">
                    <textarea class="form-control" rows="15"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal"
                        onclick="$(this).closest('.modal').trigger('addOk')">Добавить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAccounts">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Выбрать</h4>
            </div>
            <div class="modal-body">
                <%- include accountGrid.ejs %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal"
                        onclick="$(this).closest('.modal').trigger('selectOk')">Выбрать
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Подтвердите действие</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal"
                        onclick="$(this).closest('.modal').trigger('editOk')">Изменить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Выбрать</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal"
                        onclick="$(this).closest('.modal').trigger('confirmOk')">Удалить
                </button>
            </div>
        </div>
    </div>
</div>