<table data-toggle="bootgrid"
       data-ajax="true"
       data-url="list"
       data-list-type="process"
       data-selection="true"
       data-multi-select="true"
       data-keep-selection="true"
       data-can-add="false"
       data-eventable="true"
       class="table table-condensed table-hover table-striped"
       id="processGrid">
    <thead>
    <tr>
        <th data-column-id="_id"
            data-visible="false"
            data-identifier="true"
            data-visible-in-selection="false"
            data-type="string">ID
        </th>

        <th data-column-id="created"
            data-order="1"
            data-visible="false"
            data-visible-in-selection="false">Created
        </th>

        <th data-formatter="title"
            data-column-id="processId">
            Название
        </th>

        <th data-column-id="accountId"
            data-formatter="avatar"
            data-visible-in-selection="false"
            data-width="60px">
        </th>

        <th data-column-id="accountId"
            data-formatter="account"
            data-width="200px">Аккаунт
        </th>

        <th data-formatter="commandsNotAll"
            data-sortable="false"
            data-width="100px"
            data-visible-in-selection="false">

        </th>
    </tr>
    </thead>
</table>