<table data-toggle="bootgrid"
       data-ajax="true"
       data-url="list"
       data-list-type="group"
       data-selection="true"
       data-row-select="true"
       data-multi-select="true"
       data-keep-selection="true"
       data-can-add="false"
       class="table table-condensed table-hover table-striped"
       id="groupGrid">
    <thead>
    <tr>

        <th data-column-id="_id"
            data-visible="false"
            data-identifier="true"
            data-visible-in-selection="false"
            data-type="string">ID
        </th>

        <th data-column-id="created"
            data-order="1"
            data-visible="false"
            data-visible-in-selection="false">Created
        </th>

        <th data-column-id="value.photo_50"
            data-formatter="groupAvatar"
            data-visible-in-selection="false"
            data-width="60px">
        </th>

        <th data-column-id="value.name"
            data-formatter="groupLink"
            data-editable="false">Название
        </th>

        <th data-column-id="value.members_count"
            data-editable="false">Участники
        </th>


        <th data-column-id="value.name"
            data-formatter="groupLabeles"
            data-sortable="false"
            data-editable="false">Свойства
        </th>

        <th data-formatter="commandsNotAll"
            data-sortable="false"
            data-width="30px"
            data-visible-in-selection="false"></th>
    </tr>
    </thead>
</table>