<table data-toggle="bootgrid"
       data-ajax="true"
       data-url="grid"
       data-list-type="person"
       data-selection="true"
       data-multi-select="true"
       data-keep-selection="true"
       data-can-add="false"
       class="table table-condensed table-hover table-striped"
       id="personGrid">
    <thead>
    <tr>

        <th data-column-id="_id"
            data-visible="false"
            data-identifier="true"
            data-visible-in-selection="false"
            data-type="string">ID
        </th>

        <th data-column-id="created"
            data-order="1"
            data-visible="false"
            data-visible-in-selection="false">Created
        </th>

        <th data-column-id="first_name"
            data-editable="false">Imya
        </th>

        <th data-column-id="last_name"
            data-editable="false">Familia
        </th>

        <th data-column-id="sex"
            data-formatter="sex"
            data-editable="false">Sex
        </th>

        <th data-column-id="photo_50"
            data-formatter="avatar"
            data-visible-in-selection="false"
            data-width="60px">
        </th>

        <th data-formatter="commandsNotAll"
            data-sortable="false"
            data-width="100px"
            data-visible-in-selection="false"></th>
    </tr>
    </thead>
</table>