<table data-toggle="bootgrid"
       data-ajax="true"
       data-url="list"
       data-list-type="post"
       data-selection="true"
       data-row-select="true"
       data-multi-select="true"
       data-keep-selection="true"
       data-can-add="false"
       class="table table-condensed table-hover table-striped"
       id="postGrid">
    <thead>
    <tr>

        <th data-column-id="_id"
            data-visible="false"
            data-identifier="true"
            data-visible-in-selection="false"
            data-type="string">ID
        </th>

        <th data-column-id="created"
            data-order="1"
            data-visible="false"
            data-visible-in-selection="false">Created
        </th>


        <th data-column-id="value.id"
            data-formatter="wallLink"
            data-editable="false">ID
        </th>

        <th data-column-id="value.id"
            data-formatter="personLink"
            data-editable="false">Владелец
        </th>

        <th data-column-id="value.likes.count"
            data-editable="false">Лайки
        </th>

        <th data-column-id="value.reposts.count"
            data-editable="false">Репосты
        </th>

        <th data-column-id="value.comments.count"
            data-editable="false">Комменты
        </th>

        <th data-column-id="value.data"
            data-formatter="date"
            data-editable="false">Дата
        </th>

        <th data-formatter="commandsNotAll"
            data-sortable="false"
            data-visible-in-selection="false">
        </th>
    </tr>
    </thead>
</table>