<script type="text/template" id="noProcessesTemplate">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <hr>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-md-3 col-lg-2">
                            <a href="/proxies" class="thumbnail text-center">
                                <div class="caption">
                                    <img src="images/icons/ic_public_black_48px.svg" alt="...">

                                    <h3>Проверить прокси</h3>

                                    <p>Проверка списка HTTP(S) или SOCKET прокси серверов</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 col-lg-2">
                            <a href="/proxies" class="thumbnail text-center">
                                <div class="caption">
                                    <img src="images/icons/ic_verified_user_black_48px.svg" alt="...">

                                    <h3>Проверить аккаунты</h3>

                                    <p>Проверка списка HTTP(S) или SOCKET прокси серверов</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 col-lg-2">
                            <a href="/proxies" class="thumbnail text-center">
                                <div class="caption">
                                    <img src="images/icons/ic_person_add_black_48px.svg" alt="...">

                                    <h3>Найти людей</h3>

                                    <p>Проверка списка HTTP(S) или SOCKET прокси серверов</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 col-lg-2">
                            <a href="/proxies" class="thumbnail text-center">
                                <div class="caption">
                                    <img src="images/icons/ic_group_add_black_48px.svg" alt="...">

                                    <h3>Найти группы</h3>

                                    <p>Проверка списка HTTP(S) или SOCKET прокси серверов</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 col-lg-2">
                            <a href="/proxies" class="thumbnail text-center">
                                <div class="caption">
                                    <img src="images/icons/ic_playlist_add_black_48px.svg" alt="...">

                                    <h3>Составить списки</h3>

                                    <p>Проверка списка HTTP(S) или SOCKET прокси серверов</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 col-lg-2">
                            <a href="/proxies" class="thumbnail text-center">
                                <div class="caption">
                                    <img src="images/icons/ic_access_alarms_black_48px.svg" alt="...">

                                    <h3>Создать задания</h3>

                                    <p>Проверка списка HTTP(S) или SOCKET прокси серверов</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</script>