<script type="text/template" id="taskRowTemplate">
    <div class="col-xs-12 col-md-6 list-group-item {{= listGroupStyle }}">
        <div class="widget taskHolder " data-account="{{= accountId }}"
             data-task="{{= taskUid }}">
            <div>
                <div id="accountHolder">
                    <div class="img-thumbnail avatarHolder"
                         style="background-image: url('{{= avatarUrl }}');"></div>
                </div>
            </div>
            <div class="speechBox" style="">
                <label class="small">{{= processTitle }}</label>
                <div class="innerText">
                    <ul>
                        {{ if (lastMessageTime) { }}
                        <li><span class="small"><span
                                        class="time">{{= lastMessageTime }}</span> {{= lastMessage }}</span>
                        </li>
                        {{ } }}
                    </ul>
                </div>
            </div>
            <div>

                <button class="btn btn-default btn-sm startPauseButton"
                        onclick="$(this).closest('.widget').trigger('startPauseTask', this)">
                    <span class="glyphicon {{= startPauseButtonGlyph }}"></span>
                </button>


                <button class="btn btn-default btn-sm stopButton
                {{ if (taskState === 0) { }}
                hidden
                {{ } }}"
                        onclick="$(this).closest('.widget').trigger('stopTask', this)"><span
                            class="glyphicon glyphicon-stop"></span>
                </button>
            </div>
        </div>
    </div>
</script>