<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <%- include ../parts/cabinetHead.ejs %>
</head>
<body>


<div class="layout">
    <div class="left-menu" data-visible="false" tabindex="1">
        <div class="menu-content" data-side="left">
            <input type="text" class="form-control" onkeyup="$('#kozelTimur').trigger('menuSearch', $(this))">
        </div>

    </div>
    <div class="content" style=" padding: 50px 0 0 0;">
        <div class="toolbar">
            <i class="material-icons" onclick="$('#kozelTimur').trigger('toggleMenu', $(this))"
               data-side="left">reorder</i>
            <i class="material-icons" onclick="$('#kozelTimur').trigger('navigate', $(this))" data-link="settings"
               data-free="true">settings</i>
            <i class="material-icons" onclick="$('#kozelTimur').trigger('navigate', $(this))" data-link="proxies"
               data-free="true">http</i>
            <i class="material-icons" onclick="$('#kozelTimur').trigger('navigate', $(this))" data-link="accounts"
               data-free="true">supervisor_account</i>
        </div>

        <div style="border: none; height: 100%;width: 100%;padding: 5px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div id="accountInfoHolder"></div>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div id="taskInfoHolder" style="height: 200px">
                            <div style="height: 50px;background-color: gray">
                                <i class="material-icons" id="startPauseTaskButton"
                                   onclick="$('#kozelTimur').trigger('startPauseTask', $(this))" data-start="true">play_arrow</i>
                                <i class="material-icons" id="stopTaskButton"
                                   onclick="$('#kozelTimur').trigger('stopTask', $(this))" data-uid="">stop</i>
                            </div>
                            <div style="height: 150px;background-color: lightcoral"></div>
                        </div>
                    </div>
                </div>
                <div id="iframe"></div>
            </div>
        </div>


    </div>
    <div class="right-menu" data-visible="false" tabindex="1">

        <div class="menu-content" data-side="right">
            <div class="menu-toolbar">
                <div class="input-holder">
                    <input type="text" class="huyax-input" onkeyup="$('#kozelTimur').trigger('menuSearch', $(this))">

                    <div class="input-addon addon-search" onclick="$('#kozelTimur').trigger('menuSearch', $(this))">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <div class="input-addon addon-filter"
                         onclick="$('#kozelTimur').trigger('menuToggleFilter', $(this))">
                        <span class="glyphicon glyphicon-filter"></span>
                    </div>
                </div>
            </div>
            <div class="menu-body">
                <div class="list"></div>
            </div>
            <div class="menu-footer">
                <button class="btn btn-default" onclick="$('#kozelTimur').trigger('menuGetListItem', $(this))">Выбрать
                </button>
            </div>
        </div>
    </div>
</div>

<div class="hidden" id="kozelTimur"></div>


<script type="template" id="accountListRowTemplate">

    {{ for(var i = 0; i < data.length; i++) { }}
    <div class="list-elem" onclick="$('#kozelTimur').trigger('menuSelectListItem', $(this))" data-id="{{=data[i].id}}">
        <div class="account-info">
            <div class="account-photo" style="background-image: url({{=data[i].photo}})"></div>
            <div class="account-name">
                {{=data[i].lastName}} {{=data[i].firstName}}
            </div>
            <div class="account-other">
                {{=data[i].accountId}}
            </div>
        </div>
    </div>

    {{ } }}


</script>

<script type="template" id="accountInfoTemplate">

    {{ if (!account) { }}


    <div><h2>Нет выбран аккаунт</h2>

        <div onclick="$('#kozelTimur').trigger('toggleMenu', $(this))" data-side="right">
            <i class="material-icons">supervisor_account</i> Выбрать
        </div>
        <div onclick="$('#kozelTimur').trigger('navigate', $(this))" data-link="accounts" data-free="true">
            <i class="material-icons">group_add</i> Добавить
        </div>
    </div>


    {{ } else { }}


    <div style="width: 100%;height: 200px">
        <div style="height:200px;background-color: gray">

            <div style="padding: 5px">
                <a href="http://vk.com/id{{=account.accountId}}" target="_blank">
                    <div style="width:100px;    border-radius: 4px;margin: 0 auto 0 auto;height:100px;background-position:50%;background-repeat:no-repeat;background-image: url(http://vk.com/images/camera_100.png)">
                    </div>
                </a>
            </div>
            <div style="text-align: center;color:white">
                <h2>{{=account.firstName}} {{=account.lastName}}</h2>
            </div>
            <div style="text-align: center;">
                <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Настроить">build</i>
                <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Чистить">delete</i>
                <i class="material-icons" data-toggle="tooltip" data-placement="bottom"
                   title="Копировать">content_copy</i>
                <i class="material-icons" data-toggle="tooltip" data-placement="bottom"
                   title="Скачать">cloud_download</i>
                <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Говорилка">record_voice_over</i>
                <i class="material-icons">today</i>

                <i class="material-icons">search</i>
                <i class="material-icons">access_alarm</i>
                <i class="material-icons">group_add</i>
                <i class="material-icons" onclick="$('#kozelTimur').trigger('toggleMenu', $(this))" data-side="right">compare_arrows</i>
                <i class="material-icons" onclick="$('#kozelTimur').trigger('navigate', $(this))" data-link="static">public</i>
            </div>

        </div>
    </div>


    {{ } }}

</script>

<%- include ../templates/modalInput.ejs %>

<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>


</body>
</html>