<button class="btn btn-default startPauseButton"
        onclick="$(this).closest('.widget').trigger('startPauseTask', $(this).data('taskName'));"
        data-task-name="<%= pageId %>" data-default-task="<%= pageId %>"><span class="glyphicon glyphicon-play"></span>
</button>
<button class="btn btn-default hidden stopButton"
        onclick="$(this).closest('.widget').trigger('stopTask', $(this).data('taskName'));"
        data-task-name="<%= pageId %>" data-default-task="<%= pageId %>"><span class="glyphicon glyphicon-stop"></span>
</button>

