<div class="<% if (processId !== 'configurationClean') { %>col-xs-6<% } else { %>col-xs-12<% } %>">
    <button class="btn btn-default startPauseButton"
            onclick="$(this).closest('.widget').trigger('startPauseProcess','<%= processId %>');"><span
                class="glyphicon glyphicon-play"></span></button>
    <button class="btn btn-default hidden stopButton"
            onclick="$(this).closest('.widget').trigger('stopProcess');"><span
                class="glyphicon glyphicon-stop"></span></button>
</div>
<% if (processId !== 'configurationClean') { %>
<!--<div class="col-xs-6">
    <select class="selectpicker" data-style="btn-primary" data-width="100%"
            id="replaceSelector">
        <option>Заменить список</option>
        <option>Добавить в список</option>
        <option>Создать новый</option>
    </select>
</div>
<div class="col-xs-6">
    <input type="text" class="form-control"/>
</div>-->

<% } %>
