<button class="btn btn-default startPauseButton"
        onclick="$(this).closest('body').trigger('startPauseProcess','<%=processId%>');"><span
            class="glyphicon glyphicon-play"></span></button>
<button class="btn btn-default hidden stopButton"
        onclick="$(this).closest('body').trigger('stopProcess');"><span
            class="glyphicon glyphicon-stop"></span></button>