<div class="navmenu navmenu-default navmenu-fixed-left">
    <a class="navmenu-brand" href="#">Project name</a>

    <ul class="nav navmenu-nav">
        <li <% if (page === 'index') { %>class="active"<% } %>><a href="/" >ГЛАВНАЯ<span class="glyphicon glyphicon-th-list pull-right" aria-hidden="true"></span></a></li>
    </ul>

    <ul class="nav navmenu-nav">
        <li <% if (page === 'proxies') { %>class="active"<% } %>><a href="proxies" >ПРОКСИ<span class="glyphicon glyphicon-globe pull-right"
                                              aria-hidden="true"></span></a></li>
        <li <% if (page === 'accounts') { %>class="active"<% } %>><a href="accounts" >АККАУНТЫ<span class="glyphicon glyphicon-user pull-right"
                                                     aria-hidden="true"></span></a></li>
    </ul>
    <ul class="nav navmenu-nav">
        <li <% if (page === 'peoples') { %>class="active"<% } %>><a href="peoples" >ЛЮДИ<span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span></a></li>
        <li <% if (page === 'groups') { %>class="active"<% } %>><a href="groups" >ГРУППЫ<span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span></a></li>
        <li <% if (page === 'lists') { %>class="active"<% } %>><a href="lists" >СПИСКИ<span class="glyphicon glyphicon-list pull-right" aria-hidden="true"></span></a></li>
        <li <% if (page === 'tasks') { %>class="active"<% } %>><a href="tasks" >ЗАДАНИЯ<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true"></span></a>
        </li>
    </ul>
</div>